<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <h2>Your Journey Starts Here!</h2>
    <form action="/flight/search_offers">
      <label for="origin">Departing From?</label>
      <input type="text" name="origin_code" id="origin" />
      <ul id="origin_list"></ul>
      <label for="destination">Where to go?</label>
      <input type="text" name="destination_code" id="destination" />
      <ul id="destination_list"></ul>
      <label for="departure_date">When to Leave?</label>
      <input type="date" name="departure_date" id="departure_date" />
      <br/>
      <label for="adult">How Many Adults?</label>
      <input type="text" name="adult" id="adult" /><br />
      <label for="children">How Many Children</label>
      <input type="text" name="children" id="children" />
      <br />
      <label for="infants">How Many Infants?</label>
      <input type="text" name="infants" id="infants" />
      <br />

      <!-- <input type="text" name = travel_class placeholder="Which travel class?"> -->
      <label for="travel_class">Which Travel Class</label>
      <select name="travel_class" id="travel_class">
        <option value="" disabled selected hidden>Which travel class</option>
        <option value="First Class">First Class</option>
        <option value="Business Class">Business Class</option>
        <option value="Economy Class">Economy Class</option>
      </select>
      <br />
      <input type="submit" value="submit" />
    </form>

    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->

    <script type="text/javascript">
      let request_origin = null;
      let request_dest = null;
      function handleResponseOrigin(response) {
        let inner = "";
        response = response["data"];
        console.log(response);
        if (response.length !== 0 && $("#origin").val() !== "") {
          removeElementsOrigin();
          for (let airportInfo of response) {
            let listItem = document.createElement("li");
            listItem.classList.add("list-items-origin");
            curString = airportInfo.toString();
            listItem.setAttribute(
              "onclick",
              "displayOrigin('" + airportInfo[0] + "')"
            );

            listItem.innerHTML = curString;
            document.querySelector("#origin_list").appendChild(listItem);
          }
        }
      }

      function handleResponseDest(response) {
        let inner = "";
        response = response["data"];
        console.log(response);
        if (response.length !== 0 && $("#destination").val() !== "") {
          removeElementsDest();
          for (let airportInfo of response) {
            let listItem = document.createElement("li");
            listItem.classList.add("list-items-dest");
            curString = airportInfo.toString();
            listItem.setAttribute(
              "onclick",
              "displayDest('" + airportInfo[0] + "')"
            );

            listItem.innerHTML = curString;
            document.querySelector("#destination_list").appendChild(listItem);
          }
        }
      }

      function displayOrigin(value) {
        console.log(value);
        $("#origin").val(value);
        removeElementsOrigin();
      }

      function displayDest(value) {
        $('#destination').val(value);
        removeElementsDest();
      }

      function removeElementsOrigin() {
        let items = document.querySelectorAll(".list-items-origin");
        // console.log(items);
        items.forEach((item) => {
          console.log(item);
          item.remove();
        });
      }

      function removeElementsDest() {
        let items = document.querySelectorAll(".list-items-dest");
        // console.log(items);
        items.forEach((item) => {
          console.log(item);
          item.remove();
        });
      }

      function getOrigin() {
        let city = $("#origin").val();
        // console.log(city);
        if (!city) {
          // console.log("string is empty");
          removeElementsOrigin()
          return;
        }
        city = encodeURIComponent(city);
        let url = "/flight/select_place/" + city;
        if (request_origin != null) {
          request_origin.abort();
        }
        request_origin = $.ajax({
          type: "GET",
          url: url,
          success: handleResponseOrigin,
        });
      }

      function getDest() {
        let city = $("#destination").val();
        // console.log(city);
        if (!city) {
          removeElementsDest();
          // console.log("string is empty");
          return;
        }
        city = encodeURIComponent(city);
        let url = "/flight/select_place/" + city;
        if (request_dest != null) {
          request_dest.abort();
        }
        request_dest = $.ajax({
          type: "GET",
          url: url,
          success: handleResponseDest,
        });
      }

      function setup() {
        $("#origin").on("input", getOrigin);
        $("#destination").on("input", getDest);
      }
      $("document").ready(setup);
    </script>
  </body>
</html>
<style>
  ul {
    list-style: none;
  }
  .list {
    width: 30%;
    background-color: #ffffff;
    border-radius: 0 0 5px 5px;
  }
  .list-items {
    padding: 10px 5px;
  }
  .list-items:hover {
    background-color: #dddddd;
  }
  form {
    width: 75vmin;
    position: absolute;
    /* transform: translate(-50%, -50%); */
    /* top: 50%; */
    /* left: 50%; */
    padding: 40px 0;
  }
  input[type="text"] {
    width: 30%;
    padding: 15px 10px;
    border: none;
    border-bottom: 1px solid #645979;
    outline: none;
    border-radius: 5px 5px 0 0;
    background-color: #ffffff;
    font-size: 16px;
  }
</style>
